 .goDiv {
   background-color: darkgray;
   border: 1px inset lightblue;
   outline: 1px solid grey;
   box-shadow: 0 0 0 1px darkgray;
   border-radius: 3px;
   font: bold 1rem sans-serif;
   margin: 1px;
   padding: 1px;
   outline-offset: 1px;
   text-align: center;
 }

 .btn-item{
  display:block;
  width:50%;
  margin:5px;
 }
 .btn-product{
  display:block;
  width:50%;
  margin:5px;
  background-color: #790817;
 }

 .topDiv {

   height: 700px; 
   text-align: center;

   margin: auto;
 }

 .itemDiv {
   background-color: aquamarine;
   height: 500px;
   overflow-y: auto;
   padding: 30px;
 }


 table,
 th,
 tr,
 td {
  
   border: 1px solid black;
   font-weight: 400;
   font-size:large;
   margin-left: 10%;
   margin-right: 30%;
   padding: 0px;
   margin: 2px;
   text-align: left;

 }

 .goBadge {
   cursor: hand;
   width: 50px;
   height: 50px;
   border-radius: 100px;
   padding: 8px;
   margin: 5px;

 }

 .fixed {

   display: none;

 }


 label {
   display: block;
   margin: 5px;
 }

 input,
 label {
   margin: 10px;
 }

 #panelIntro {
   margin-top: 0px
 }

 .col1 {
   display: block;

   margin: auto;
 }

 .col2 {
   display: block;

   margin: auto;
 }

 .col3 {
   display: block;
   height: 400px;

   margin: auto;
 }

 .bc-button {
   margin: auto;
   display: block;
   width: 100%;
   margin-top: 10px;

 }

 body {
   width: 100%;
   padding: 0px;
   margin: 0px;
 }

 .hasFocus {
   border: 5px outset purple;
 
 }

 .bigbtn {
   width: 400px;
   background-color: #6f8670;
   border: solid black 2px;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;

   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }

 .btn-arrow {
   width: 10px;
   height: 10px;
   background-color: #790817;
   border: solid black 2px;
   color: white;
   padding: 0px;
   text-align: center;
   text-decoration: none;

   font-size: 10px;
   margin: 0px;
   cursor: pointer;
 }

 .alert {
   left: calc(50% - 150px);
   width: 300px;
   height: 200px;
   top: -250px;
   border-radius: 10px;
   text-align: center;
   background-color: palegreen;
   border: 4mm ridge rgba(211, 220, 50, .6);
   position: fixed;
   margin-top: -20px;
   display: block;
   z-index: 50;
 }

 .animate {

   animation-name: example;
   animation-duration: 5s;

 }

 @keyframes example {
   0% {
     opacity: 1;
     top: -200px;
   }

   15% {
     opacity: 1;
     top: 50px;
   }

   85% {
     top: 50px;
     opacity: 1;

   }

   99% {
     top: 50px;
     opacity: 0;

   }

 }



 /* CSS */