body{
  width:100%;
  padding:5px;
 
}

.topDiv {

  height: 500px;
  text-align: center;
width:95%;
  margin-left:10px;
}

.goDiv {
  background-color: rgb(118, 153, 35);

  border: 1px inset lightblue;
  outline: 1px solid grey;
  box-shadow: 0 0 0 1px darkgray;
  border-radius: 10px;
  font: bold 1rem sans-serif;
  margin: 1px;
  padding-bottom: 12px;
  outline-offset: 1px;
  text-align: center;
}

.inputDiv {
  background-color: beige;
  text-align: center;
  margin: auto;
  border: 1px inset lightblue;
  outline: 1px solid grey;
  box-shadow: 0 0 0 1px darkgray;
  border-radius: 10px;
  height:200px;
}

.btn-item {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.btn-product {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  color: black;
  background-color: pink;
}

#divItems {
  background-color: aquamarine;
  height: 350px;
  overflow-y: auto;
  padding: 30px;
}


table,
th,
tr,
td {

  border: none;
  font-weight: 400;
  font-size: large;
  margin-left: 10%;
  margin-right: 30%;
  padding: 10px;
  margin: 2px;
  text-align: left;

}

.small-button {
  border-radius: 30px;

}

.goBadge {
  cursor: hand;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 8px;
  margin: 5px;

}

.fixed {

  position:fixed;

}


label {
  display: block;
  margin: 5px;
}

input,
label {
  margin: 10px;
}

#panelIntro {
  margin-top: 0px
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.hasFocus {
  border: 5px outset black;
  transform: scaleY(1.05);
}

.bigbtn {
  width: 400px;
  background-color: #6f8670;
  border: solid black 2px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-arrow {
  width: 10px;
  height: 10px;
  background-color: #790817;
  border: solid black 2px;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;

  font-size: 10px;
  margin: 0px;
  cursor: pointer;
}

.alert {
  left: calc(50% - 150px);
  width: 300px;
  height: 200px;
  top: -250px;
  border-radius: 10px;
  text-align: center;
  background-color: palegreen;
  border: 4mm ridge rgba(211, 220, 50, .6);
  position: fixed;
  margin-top: -20px;
  display: block;
  z-index: 50;
}

.animate {

  animation-name: example;
  animation-duration: 5s;

}

@keyframes example {
  0% {
    opacity: 1;
    top: -200px;
  }

  15% {
    opacity: 1;
    top: 50px;
  }

  85% {
    top: 50px;
    opacity: 1;

  }

  99% {
    top: 50px;
    opacity: 0;

  }

}



/* CSS */